.popup{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .4s linear;
}
.popup_show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity .4s linear;
}

.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #1A1B22;
    margin: 0;
}

.popup__label{
    display: block;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
}

.popup__input{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.popup__input::placeholder{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0,0,0,0.2);
}
.popup__input:focus{
    outline: none;
    border-bottom: 1px solid #000000;
}

.popup__input-invalid{
    border-bottom-color: #ff0000;
}

.popup__input-error{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
    color: #FF0000;
    display: block;
    min-height: 20px;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.popup__input-error_active{
    opacity: 1;
}
.formError{
    text-align: center;
}

.popup_tooltip_body{
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 60px 36px;
    box-sizing: border-box;
    text-align: center;
}

.popup__body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup__body-with-form{
    max-width: 430px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    padding: 35px;
    box-sizing: border-box;
}

.popup__form_fieldset{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.button_role_close{
    position: absolute;
    width: 45px;
    height: 45px;
    top: -50px;
    right: -47px;
    background-image: url("../../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button_role_close:hover{
    opacity: .6;
}


.popup__submit_button{
    background: #E6E8EB;
    border-radius: 100px;
    padding: 20px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    box-sizing: border-box;
    width: 100%;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.popup__submit_button.active{
    background: #2F71E5;
    color: #ffffff;
    border-radius: 100px;
    transition: all .3s ease-in-out;
}

.popup__submit_button.active:hover{
    box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
}

.popup__submit_button:disabled{
    cursor: not-allowed;
}

.popup__or_text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-top: 15px;
}

.popup__or_link{
    text-decoration: none;
    color: #2F71E5;
    cursor: pointer;
}
.popup__signIn_link{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2F71E5;
    margin: 0;
    margin-top: 14px;
    cursor: pointer;
}

@media screen and (max-width:425px){
    .popup__body-with-form {
        height: calc(100vh - 56px);
        top: 56px;
        left: 0;
        transform: inherit;
        border-radius: 10px 10px 0 0;
        padding: 16px 17px;
    }
    .button_role_close{
        top: -50px;
        right: 0;
    }
    .popup_type_successReg .popup__title{
        margin-top: 150px;
    }
}
