.footer{
    padding: 13px 0 10px 0;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

.footer__links_box{
    display: flex;
    gap: 42px;
}

.footer__menu{
    padding: 0;
    list-style: none;
    display: flex;
}

.footer__menu_item{
    min-width: 112px;
}

.footer__menu_link{
    padding: 0 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.footer__social_links{
    display: flex;
    gap: 28px;
    padding: 0;
    list-style: none;
}


@media screen and (max-width:768px){
    .footer {
        padding: 4px 0;
    }
    .footer__content{
        justify-content: space-evenly;
    }
    .footer__menu_item{
        text-align: center;
    }
}

@media screen and (max-width:700px){
    .footer__content{
        flex-flow: column-reverse;
    }
}

@media screen and (max-width:425px){
    .footer {
        padding: 20px 0;
    }
    .footer__menu{
        display: block;
        margin: 0;
    }
    .footer__links_box{
        gap: 0;
    }
    .footer__menu_item{
        text-align: left;
    }
    .footer__menu_link{
        padding: 0;
        text-align: left;
    }
    .footer__menu_item:last-child{
        margin-top: 25px;
    }
    .footer__social_links{
        margin: 0;
    }
    .footer__copyright_text{
        margin-top: 38px;
    }
}